html,
body {
  padding: 10px;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #0F0E0E;
  color: #EEEEEE;
  font-size: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.correct {
  color: #8B9A46;
}
.missed {
  opacity: 0.5;
}